.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: rgb(55,44,22,.4);
}
#wrap {
    margin: 3em 8em;
}
.left {
    width: 300; float: left; padding: 35px 5px 60px 30px;
    margin:25;
    position: relative;
    
    
}
.right {
    float: right;
    margin-left: 1em;
}
p {
    margin-bottom: 2.5em;
    overflow: hidden; /* this is what keep the <p> from wrapping */
}
p:last-child {
    overflow: visible; /* this is an example of the browser default */
}
h4{
    color: grey
}

h1{position: relative;
   top: 30px;
   font-family: 'Roboto', sans-serif;
}
.image{
    border:  solid #555;
    
  }
