body {
    background-color: lightcyan;

}

.header{
    color: blue;
    text-align: center;
    font-size: 24px;
    font-family: georgia
}
.subhead{
    color: green;
    text-align: center;
    font-size: 16px;
    font-family: georgia
}
.wrappingimage{
    float: left;   
margin: 30px 30px 3px 4px;   
}
b{ color: lightcoral

}
p{line-height: 20px}

.youmight{
    font-size: 20px;
    text-transform: uppercase
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }
